<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Log seviyeleri: Trace, Debug, Info, Warn, Error, Fatal -->
	<targets>
		<!-- Konsola log yazdır -->
		<target xsi:type="Console" name="console" layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- Dosyaya log yazdır -->
		<target xsi:type="File" name="file" fileName="${currentdir}/logs/logfile.txt"
				layout="${longdate} | ${level} | ${message} ${exception}"
				archiveEvery="Day" maxArchiveFiles="7"/>
	</targets>

	<rules>
		<!-- Tüm logları hem dosyaya hem de konsola yaz -->
		<logger name="*" minlevel="Trace" writeTo="console, file" />
	</rules>

</nlog>